server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: VOTRE_CLIENT_ID
            client-secret: VOTRE_SECRET
            scope:
              - openid
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            issuer-uri: https://accounts.google.com

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

